.notification-bar {
    background-color: #f5f5f5;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--font-main);
    font-size: 0.75rem;
    color: #000;
}

.notification-content {
    text-align: center;
    flex: 1;
}

.notification-link {
    text-decoration: underline;
    font-weight: 500;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

.close-btn:hover {
    color: #000;
}